# OLA_Booking_Analysis

In [1]:
# importing necessary libraries
import pandas as pd
import datetime

In [2]:
# loading data
df = pd.read_csv('Bookings-20000-Rows.csv')
df.head(2)

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,Canceled_Rides_by_Customer,Canceled_Rides_by_Driver,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating,Vehicle Images
0,2024-07-26 14:00:00,14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,NaN,Personal & Car related issue,NaN,NaN,444,NaN,0,NaN,NaN,#NAME?
1,2024-07-25 22:20:00,22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,NaN,NaN,No,NaN,158,Cash,13,4.1,4.0,#NAME?

In [3]:
# converting date column into datatime
df['Date'] = pd.to_datetime(df['Date'])

In [4]:
# make two new column using date column
df['Booking_Date'] = df['Date'].dt.date
df['Booking_Time'] = df['Date'].dt.time

In [5]:
df.head()

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,...,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating,Vehicle Images,Booking_Date,Booking_Time
0,2024-07-26 14:00:00,14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,...,NaN,NaN,444,NaN,0,NaN,NaN,#NAME?,2024-07-26,14:00:00
1,2024-07-25 22:20:00,22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,...,No,NaN,158,Cash,13,4.1,4.0,#NAME?,2024-07-25,22:20:00
2,2024-07-30 19:59:00,19:59:00,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,...,No,NaN,386,UPI,40,4.2,4.8,#NAME?,2024-07-30,19:59:00
3,2024-07-22 03:15:00,3:15:00,CNR2395710036,Canceled by Customer,CID581320,eBike,HSR Layout,Vijayanagar,NaN,NaN,...,NaN,NaN,384,NaN,0,NaN,NaN,#NAME?,2024-07-22,03:15:00
4,2024-07-02 09:02:00,9:02:00,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,252.0,80.0,...,No,NaN,822,Credit Card,45,4.0,3.0,#NAME?,2024-07-02,09:02:00

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20407 entries, 0 to 20406
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        20407 non-null  datetime64[ns]
 1   Time                        20407 non-null  object
 2   Booking_ID                  20407 non-null  object
 3   Booking_Status              20407 non-null  object
 4   Customer_ID                 20407 non-null  object
 5   Vehicle_Type                20407 non-null  object
 6   Pickup_Location             20407 non-null  object
 7   Drop_Location               20407 non-null  object
 8   V_TAT                       12652 non-null  float64
 9   C_TAT                       12652 non-null  float64
 10  Canceled_Rides_by_Customer  2081 non-null   object
 11  Canceled_Rides_by_Driver    3654 non-null   object
 12  Incomplete_Rides            12652 non-null  object
 13  Incomplete_Rides_Reason     795 non-null    object
 14  Booking_Value               20407 non-null  int64
 15  Payment_Method              12652 non-null  object
 16  Ride_Distance               20407 non-null  int64
 17  Driver_Ratings              12652 non-null  float64
 18  Customer_Rating             12652 non-null  float64
 19  Vehicle Images              20407 non-null  object
 20  Booking_Date                20407 non-null  object
 21  Booking_Time                20407 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(2), object(15)
memory usage: 3.4+ MB

In [7]:
# removing unnecessary columns
df.drop(['Date','Time','V_TAT','C_TAT','Canceled_Rides_by_Customer','Canceled_Rides_by_Driver','Incomplete_Rides_Reason'],
         axis=1,inplace=True)

In [47]:
# filling null values with mean value of column
df['Customer_Rating'].fillna(df['Customer_Rating'].mean().round())
df['Driver_Ratings'].fillna(df['Customer_Rating'].mean().round())

0        4.0
1        4.1
2        4.2
3        4.0
4        4.0
        ...
20402    4.0
20403    3.3
20404    3.9
20405    4.2
20406    4.0
Name: Driver_Ratings, Length: 20407, dtype: float64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20407 entries, 0 to 20406
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Booking_ID        20407 non-null  object
 1   Booking_Status    20407 non-null  object
 2   Customer_ID       20407 non-null  object
 3   Vehicle_Type      20407 non-null  object
 4   Pickup_Location   20407 non-null  object
 5   Drop_Location     20407 non-null  object
 6   Incomplete_Rides  12652 non-null  object
 7   Booking_Value     20407 non-null  int64
 8   Payment_Method    12652 non-null  object
 9   Ride_Distance     20407 non-null  int64
 10  Driver_Ratings    12652 non-null  float64
 11  Customer_Rating   12652 non-null  float64
 12  Vehicle Images    20407 non-null  object
 13  Booking_Date      20407 non-null  object
 14  Booking_Time      20407 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 2.3+ MB

In [48]:
# converting extracted date colmn to  datetime
df['Booking_Date'] = pd.to_datetime(df['Booking_Date'])

In [49]:
# converting a new column from booking date colun
df['Booking_Month'] = df['Booking_Date'].dt.month

In [12]:
# making new coulmns
df['Total_Revenue'] = df['Booking_Value'].sum()

In [13]:
df['Total_Bookings'] = df['Booking_ID'].count()

In [14]:
# save data for further visualiza
df.to_csv('ola_data.csv',index=True,header=True)

In [15]:
df

,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,Incomplete_Rides,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating,Vehicle Images,Booking_Date,Booking_Time,Booking_Month,Total_Revenue,Total_Bookings
0,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,444,NaN,0,NaN,NaN,#NAME?,2024-07-26,14:00:00,7,11148671,20407
1,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,No,158,Cash,13,4.1,4.0,#NAME?,2024-07-25,22:20:00,7,11148671,20407
2,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,No,386,UPI,40,4.2,4.8,#NAME?,2024-07-30,19:59:00,7,11148671,20407
3,CNR2395710036,Canceled by Customer,CID581320,eBike,HSR Layout,Vijayanagar,NaN,384,NaN,0,NaN,NaN,#NAME?,2024-07-22,03:15:00,7,11148671,20407
4,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,No,822,Credit Card,45,4.0,3.0,#NAME?,2024-07-02,09:02:00,7,11148671,20407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20402,CNR9637947510,Canceled by Customer,CID868443,Prime SUV,Richmond Town,Whitefield,NaN,303,NaN,0,NaN,NaN,#NAME?,2024-07-27,19:46:00,7,11148671,20407
20403,CNR4070839222,Success,CID902638,Mini,HSR Layout,Tumkur Road,No,412,Cash,16,3.3,3.6,#NAME?,2024-07-18,05:38:00,7,11148671,20407
20404,CNR2768163393,Success,CID214557,eBike,Electronic City,MG Road,No,2184,Cash,21,3.9,3.0,#NAME?,2024-07-25,12:38:00,7,11148671,20407
20405,CNR7143313454,Success,CID110375,Prime SUV,Cox Town,BTM Layout,No,283,UPI,6,4.2,4.7,#NAME?,2024-07-21,07:58:00,7,11148671,20407
20406,CNR4049412680,Canceled by Driver,CID420033,Prime Sedan,JP Nagar,Shantinagar,NaN,533,NaN,0,NaN,NaN,#NAME?,2024-07-17,02:53:00,7,11148671,20407

In [16]:
# 1. Retrieve all successful bookings:
df[df['Booking_Status'] == 'Success']

,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,Incomplete_Rides,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating,Vehicle Images,Booking_Date,Booking_Time,Booking_Month,Total_Revenue,Total_Bookings
1,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,No,158,Cash,13,4.1,4.0,#NAME?,2024-07-25,22:20:00,7,11148671,20407
2,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,No,386,UPI,40,4.2,4.8,#NAME?,2024-07-30,19:59:00,7,11148671,20407
4,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,No,822,Credit Card,45,4.0,3.0,#NAME?,2024-07-02,09:02:00,7,11148671,20407
5,CNR8787177882,Success,CID802429,Mini,Kadugodi,Vijayanagar,No,173,UPI,41,3.4,4.6,#NAME?,2024-07-13,04:42:00,7,11148671,20407
6,CNR3612067560,Success,CID476071,Bike,Tumkur Road,Whitefield,No,140,Cash,49,3.2,4.5,#NAME?,2024-07-23,09:51:00,7,11148671,20407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20398,CNR6649153307,Success,CID231191,Prime SUV,Rajajinagar,Devanahalli,No,1653,Cash,40,3.3,4.2,#NAME?,2024-07-13,18:00:00,7,11148671,20407
20400,CNR9220179384,Success,CID124345,Auto,Yeshwanthpur,Hennur,No,297,Cash,19,3.6,3.0,#NAME?,2024-07-10,05:05:00,7,11148671,20407
20403,CNR4070839222,Success,CID902638,Mini,HSR Layout,Tumkur Road,No,412,Cash,16,3.3,3.6,#NAME?,2024-07-18,05:38:00,7,11148671,20407
20404,CNR2768163393,Success,CID214557,eBike,Electronic City,MG Road,No,2184,Cash,21,3.9,3.0,#NAME?,2024-07-25,12:38:00,7,11148671,20407
20405,CNR7143313454,Success,CID110375,Prime SUV,Cox Town,BTM Layout,No,283,UPI,6,4.2,4.7,#NAME?,2024-07-21,07:58:00,7,11148671,20407

In [17]:
# 2. Find the average ride distance for each vehicle type:
df.groupby('Vehicle_Type')['Ride_Distance'].mean()

Vehicle_Type
Auto            6.214678
Bike           16.155985
Mini           15.715033
Prime Plus     14.871234
Prime SUV      15.187097
Prime Sedan    15.270289
eBike          15.679680
Name: Ride_Distance, dtype: float64

In [27]:
# 3. Get the total number of cancelled rides by customers:
new_df = df[df['Booking_Status'] == 'Canceled by Customer']
print("Total Number of Cancelled rides:- ",new_df['Booking_Status'].count())

Total Number of Cancelled rides:-  2081

In [31]:
# 4. List the top 5 customers who booked the highest number of rides:
df.groupby('Customer_ID')['Booking_ID'].count().sort_values(ascending=False).head(5)

Customer_ID
CID940408    3
CID325597    2
CID704795    2
CID788486    2
CID788327    2
Name: Booking_ID, dtype: int64

In [41]:
# 6. Find the maximum and minimum driver ratings for Prime Sedan bookings:
md = df.groupby('Vehicle_Type')['Driver_Ratings'].max().reset_index()
max_rating = md[md['Vehicle_Type'] == 'Prime Sedan']
mr = df.groupby('Vehicle_Type')['Driver_Ratings'].min().reset_index()
min_rating = mr[mr['Vehicle_Type'] == 'Prime Sedan']
min_rating,max_rating

(  Vehicle_Type  Driver_Ratings
 5  Prime Sedan             3.0,
   Vehicle_Type  Driver_Ratings
 5  Prime Sedan             5.0)

In [42]:
# 7. Retrieve all rides where payment was made using UPI:
df[df['Payment_Method'] == 'UPI']

,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,Incomplete_Rides,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating,Vehicle Images,Booking_Date,Booking_Time,Booking_Month,Total_Revenue,Total_Bookings
2,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,No,386,UPI,40,4.2,4.8,#NAME?,2024-07-30,19:59:00,7,11148671,20407
5,CNR8787177882,Success,CID802429,Mini,Kadugodi,Vijayanagar,No,173,UPI,41,3.4,4.6,#NAME?,2024-07-13,04:42:00,7,11148671,20407
12,CNR4524472111,Success,CID540929,Auto,Cox Town,Yelahanka,No,330,UPI,8,3.0,4.8,#NAME?,2024-07-27,13:18:00,7,11148671,20407
14,CNR8181602032,Success,CID167642,Bike,Indiranagar,MG Road,No,378,UPI,18,4.8,4.1,#NAME?,2024-07-16,09:54:00,7,11148671,20407
15,CNR8090918544,Success,CID640151,Bike,Magadi Road,HSR Layout,No,343,UPI,23,3.7,3.6,#NAME?,2024-07-02,10:25:00,7,11148671,20407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20390,CNR7459607546,Success,CID845808,Prime SUV,Koramangala,Hulimavu,Yes,614,UPI,16,3.8,4.3,#NAME?,2024-07-26,11:20:00,7,11148671,20407
20392,CNR1136510233,Success,CID828925,Bike,Yelahanka,Devanahalli,No,1661,UPI,44,4.4,4.0,#NAME?,2024-07-02,19:01:00,7,11148671,20407
20394,CNR4940111665,Success,CID153104,eBike,Langford Town,Shivajinagar,No,564,UPI,28,4.1,3.3,#NAME?,2024-07-24,23:23:00,7,11148671,20407
20396,CNR3202113019,Success,CID229226,Bike,Kengeri,Frazer Town,No,750,UPI,3,3.1,3.6,#NAME?,2024-07-15,19:23:00,7,11148671,20407
20405,CNR7143313454,Success,CID110375,Prime SUV,Cox Town,BTM Layout,No,283,UPI,6,4.2,4.7,#NAME?,2024-07-21,07:58:00,7,11148671,20407

In [43]:
# 8. Find the average customer rating per vehicle type:
df.groupby('Vehicle_Type')['Customer_Rating'].mean()

Vehicle_Type
Auto           4.004964
Bike           3.978857
Mini           4.019822
Prime Plus     4.001667
Prime SUV      3.981166
Prime Sedan    3.986663
eBike          3.984582
Name: Customer_Rating, dtype: float64

In [46]:
# 9. Calculate the total booking value of rides completed successfully:
df[df['Incomplete_Rides'] == 'No']['Booking_Value'].count()

11857